<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 是否开启缓存机制 -->
        <setting name="cacheEnabled" value="false"/>
        <!-- 是否开启懒加载 -->
        <setting name="lazyLoadingEnabled" value="flase"/>
        <!-- 是否多种结果集从一个单独的语句中返回 -->
        <setting name="multipleResultSetsEnabled" value="true"/>
        <!-- 是否使用列标签代替列名 -->
        <setting name="useColumnLabel" value="true"/>
        <!-- 是否使用JDBC的getGenereatedKeys方法获取主键并赋值到keyProperty设置的领域模型属性 -->
        <setting name="useGeneratedKeys" value="false"/>
        <!-- 默认执行器  REUSE执行器重用预处理语句 -->
        <setting name="defaultExecutorType" value="REUSE"/>
        <!-- 返回字段为null的字段 -->
        <setting name="callSettersOnNulls" value="true"/>
    </settings>
    <!-- <plugins>
         &lt;!&ndash; mybati实现分页 &ndash;&gt;
         <plugin interceptor="com.cdsy.common.interceptor.OffsetLimitInterceptor">
             <property name="dialectClass" value="com.github.miemiedev.mybatis.paginator.dialect.MySQLDialect"/>
         </plugin>
     </plugins>-->
</configuration>